<p>

<%= clack.content %> , <%= clack.user.username %> , <%= clack.created_at.to_formatted_s(:short) %> 


<br>

	<%= form_tag '/create_reply' do %>
		<%= text_area_tag :content %>
		<%= hidden_field_tag "clack_id", clack.id %>
		<%= submit_tag "Reply" %>
	<% end %>

<%= form_tag '/show_reply' do %>
	<%= hidden_field_tag "show", false %>
	<br>
    <% if @show %>
    <%= submit_tag "Hide Replies" %>
    <% else %>
    <%= submit_tag "Show Replies" %>
<% end %>
<% end %>


<%= form_tag '/delete_clack' do %>

		<%= hidden_field_tag "clack_id" , clack.id %>
<br>
		<%= submit_tag "Delete Clack" %>

<% end %>

<br>

<% if clack.likes.where(user_id: current_user.id).length > 0 %>
	
	<%= clack.likes.length %>
	<%= link_to "Unlike" , url_for(controller: :home, action: :like, clack_id: clack.id), method: :post %>

<% else %>
	<%= clack.likes.length %>
	<%= link_to "Like" ,url_for(controller: :home, action: :like, clack_id: clack.id), method: :post %>

<% end %>


</p>