<!DOCTYPE html>
<html>
<head>
  <title>Neighbor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<% if user_signed_in? %>

<%= link_to 'logout', '/logout' %>

<%= current_user.username %>

<% end %>

<%= yield %>
<script type="text/javascript" src="js/noty/packaged/jquery.noty.packaged.min.js"></script>
</body>
</html>
